<!DOCTYPE html>
<head>
  
  <meta charset="utf-8">

  <title>ControlVPS | Admin Page</title>
  <link rel="icon" href="img/logo.png">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator"><link href="css/page.css" rel="stylesheet" type="text/css">

</head>

<body>
  <body style="background-color:#363b48"></body>
  
<%- include("./parts/header.ejs") %>
  <div class="hero section">
    <div class="w-container">
      <h1 class="hero-heading" style="font-family:Rockwell; color: #2c9986">Control Panel</h1><br>
      <a class="nav-link sign-up" href="/changePass">Change user's password</a>
      <div class="button-group">
        <BR>
        <a class="button sign-up" href="/api/reboot">Reboot</a>
        <a class="button sign-up" href="/api/shutdown">Shutdown</a>
        <div class="form_container">
            <br>
           <center><span class="hero-typer">Ejecute Command</span></center><br>
              <form method="post" action="/api/command">
                <div>
                  <input type="text" id="command" name="command" tabindex="1" placeholder="Command">
                  <button id="submit" class="button sign-up">Ejecute</button>
                </div>
              </form>
              
              <iframe src="/api/logs" style="width: 500px; height: 350px;" frameBorder="0" > Browster not compatible </iframe>
              
              
            </div>
            <a class="nav-link sign-up" href="/api/logs">Open full logs page</a>
            
      </div>
      
    </div>
  </div>
</body>
</html>
