<!DOCTYPE html>
<head>
  
  <meta charset="utf-8">

  <title>ControlVPS | Home</title>

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator"><link href="css/page.css" rel="stylesheet" type="text/css">

</head>

<body>
  <body style="background-color:#363b48"></body>
  
<%- include("./parts/header.ejs") %>
  <div class="hero section">
    <div class="w-container">
      <h1 class="hero-heading" style="font-family:Rockwell">Manage your <b>SERVER</b> easily.</h1>
      <p class="hero-subhead" style="font-family:Rockwell">ControlVPS is a panel to manage your <b>SERVER</b> easily.</p>
      <div class="button-group">
        <a class="button sign-up" href="/admin">Control Panel</a>
      </div>
      
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("./parts/footer.ejs") %>
</body>
</html>
