<!DOCTYPE html>
<head>
  
  <meta charset="utf-8">

  <title>ControlVPS | Login Page</title>
  <link rel="icon" href="img/logo.png">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator"><link href="css/page.css" rel="stylesheet" type="text/css">

</head>
<style>
  .errordiv {
    background-color: rgba(255, 0, 0, 0.685); /* Green */
    border-radius: 12px;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
  }
  </style>

<body style="background-color:#363b48">
<body>
  
<%- include("./parts/header.ejs") %>

<% if(req.query.error) { 
  if(req.query.error === "no_account") { %>
    <br>
    <center><button class="errordiv">Error:<br>No account was founded with this credentials.</button></center>

<% }} %>

  <div class="hero section">
    <div class="w-container">
        <div class="form_container">
          <h2 style="color:white; font-family:Rockwell">Login</h2>
            <form method="post" action="/login">
              <div>
                <input type="text" id="username" name="username" tabindex="1" placeholder="Username">
              </div>
              <div>
                <input type="password" id="password" name="password"  tabindex="2" placeholder="Password">
              </div>
              <div class="btn_box ">
                <button id="submit"  class="button sign-up">
                  Login
                </button>
              </div>
            </form>
          </div>
    </div>
  </div>
  <br><br>
<%- include("./parts/footer.ejs") %>
</body>
</html>
