<body style="background-color:#363b48"></body>

<h2 style="color: blue; text-align: center;">LASTEST COMMANDS LOGS</h2><br>

<% array.forEach(async(line) => { %>
    <h3 style="color: rgb(145, 145, 145); text-align: center;"><%=line%></h3> 
    <% }); %>
