<footer class="footer section">
            <center><a href="https://github.com/TutoMineYT/ControlVPS" style="text-decoration: none;"><h3 style="color: white; font-family: 'Comic Sans MS';"><b>ControlVPS</b></h3></a></center>
  </footer>
