<style>
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2c9986; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2c9986; 
    border-radius: 10px;
    font-weight: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #33b59f; 
  }
  </style>

<header class="nav-bar">
    <div class="w-container">
      <div class="w-row">
        <div class="brand-column w-col w-col-4">
          <div class="company">
            <a href="/" style="text-decoration: none; color: white; font-family:Rockwell">ControlVPS</a>
          </div>
        </div>
        <nav class="nav-column w-col w-col-8">
          <% if(!req.session.key) { %>
            <a class="nav-link sign-up"  href="/login" target="_self">Login</a>
            <% } else { %>
              <a class="nav-link sign-up" target="_self">User: <%=name%></a>
                <a class="nav-link sign-up" href="/admin" target="_self">Control Panel</a>
                <a class="nav-link sign-up" href="/logout" target="_self">Log Out</a>
                <% } %>
        </nav>
      </div>
    </div>
  </header>
